<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dimple.fastpath">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBTNdpY00gu69ih6Ile15DRbZ6hpY9Z7Uo" />
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyBTNdpY00gu69ih6Ile15DRbZ6hpY9Z7Uo" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity1" />
        <activity android:name=".Lokcation" />
        <activity android:name=".CropAndRotate" />
        <activity android:name=".Binarization" />
        <activity android:name=".Recognizer" />
        <activity android:name=".Howtocreatelist" />
        <activity android:name=".Mylist"/>
        <activity android:name=".CreateListFromDB"/>
        <activity android:name=".LetsShop"/>
        <activity android:name=".ListPage"/>
        <activity android:name=".MapsActivity"/>
        <activity android:name=".MyShopList"/>
        <activity android:name=".MyBill"/>
        <activity android:name=".RemainingLists"/>
        <activity android:name=".RemainingListPage"/>
    </application>

</manifest>